body {
  background-color: #ffffff;
  font-family: Helvetica Neue, Helvetica;
  font-size: 14px;
  width: 100vw;
}

/*----------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}
.header {
  background-color: #41788d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 5px 10%;
  box-shadow: -2px 7px 51px 0px rgba(0, 0, 0, 0.75);
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 80px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  color: #eceff1;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: #179aca;
}

.header .btn button {
  color: #41788d;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover {
  background-color: #e2f1f8;
  color: #179aca;
  transform: scale(1.1);
}
.menu {
  display: none;
}

.header .btn button,
      /**/.header .menu button {
  margin-left: 20px;
  color: #41788d;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover,
      /**/.header .menu button:hover {
  background-color: #e2f1f8;
  color: #179aca;
  transform: scale(1.1);
}
@media screen and (max-width: 800px) {
  .nav-links,
  .btn {
    display: none;
  }
  .menu {
    display: inherit;
  }
}

/*Nav Mobile*/

.header a {
  text-decoration: none;
}

.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #41788d;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  color: #eceff1;
}

.header .overlay a:hover,
.header .overlay a:focus {
  color: #179aca;
}

.header .overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

@media screen and (max-height: 450px) {
  .header .overlay a {
    font-size: 20px;
  }
  .header .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*------------------*/
.productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
img {
  width: 10px;
  height: 10px;
}
/*----------------*/
footer {
  background: #41788d;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #ffffff;
}

.content-foo {
  text-align: center;
}

.content-foo h4 {
  color: #ffffff;
  border-bottom: 3px solid #8c7c8f;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.titulo-final {
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #938f8f;
}

.content-fooo {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.content-fooo img {
  margin-top: 20px;
}

ul {
  list-style: none;
}

.content-foo h4 {
  font-size: 18px;
  color: #ffffff;
  border-bottom: 3px solid #8c7c8f;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
}

.content-foo ul li:not(:last-child) {
  margin-bottom: 10px;
}
.content-foo ul li a {
  font-size: 20px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #000000;
  display: block;
  transition: all 0.3s ease;
}
.content-foo ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.content-foo .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
}

/*responsive*/
@media (max-width: 767px) {
  .content-foo {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .content-foo {
    width: 100%;
  }
}
